body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
}
li a{
    text-decoration: none;
    color: #E5E7EB; 
}
ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
ul li a:hover{
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
}
.nav-items{
    display: flex;
    justify-content: end;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.heading-banner{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
    height: 450px;
    flex-wrap: wrap;
}

.banner-eagle{
    width: 600px;
    height: 350px;
    border-radius: 45px;
}

.heading-content{
    width: 400px;
}
.heading-content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}
.heading-content p{
    font-size: 18px;
    color: #E5E7EB;
}

.heading-content button{
    border: none;
    background-color: #3882F6;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
}

.section-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
}
.info-heading{
    font-size: 36px;
    font-weight: bolder;
}
.cards{
    display: flex;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}
.card{
    width: 260px;
    text-align: center;
    font-size: 18px;
    margin: 25px;
}
.card img{
    width: 255px;
    height: 200px;
}